{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "module": true
    }
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "no-undef": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.2.1"
    }
  }
}
